Source: live-build-desc
Section: misc
Priority: extra
Maintainer: Daniel Gollub <dgollub@brocade.com>
Build-Depends: debhelper (>= 9), lsb-release
Standards-Version: 3.9.6
Homepage: https://github.com/gollub/live-build-desc

Package: live-build-desc-hooks
Architecture: all
Depends: ${misc:Depends}
Description: OBS specific live-build hooks
 Distribution generic live-build hooks
